@import '@nativescript/theme/scss/variables/blue';

// Custom styles
.fas {
    @include colorize($color: accent);
}
.text-center{
  text-align: center;

}

.info {
    font-size: 20;
   
    vertical-align: center;
}
/* Estilos para las tarjetas */
.card {
 
    transition: border-color 0.3s ease; /* Animación de transición para el color del borde */
    border-width: 2;
    border-radius: 10;
}

.section-title{
   font-weight: bold!important;
   font-size: 16px!important;
}

 /* Estilos para el borde del cinturón seleccionado */
.border-active {
  border-width: 10;
}
  
  /* Estilos de color del borde según el cinturón */
.border-white {
  border-color: white;
}
  
.border-yellow {
  border-color: yellow;
}
  
.border-green {
  border-color: green;
}
  // applied when device is in light mode
.ns-light {
  .bg-primary {
    background-color: #fdfdfd;
  }
  .bg-secondary {
    background-color: #ffffff;
  }
  .text-primary {
    color: #444;
  }
  .text-secondary {
    color: #777;
  }
}

// applied when device is in dark mode
.ns-dark {
  .bg-primary {
    background-color: #212121;
  }
  .bg-secondary {
    background-color: #383838;
  }
  .text-primary {
    color: #eee;
  }
  .text-secondary {
    color: #ccc;
  }
}
  