@import '@nativescript/theme/scss/variables/blue';

// Custom styles
.fas {
    @include colorize($color: accent);
}
.text-center{
  text-align: center;

}
.m0{
  margin: 0!important;
  padding: 0!important;
}

.info {
    font-size: 20;
    vertical-align: center;
    color : #FF5733;
}
/* Estilos para las tarjetas */
.card {
    transition: border-color 0.3s ease; /* Animación de transición para el color del borde */
    border-width: 2;
    border-radius: 10;
}

.section-title{
   font-weight: bold!important;
   font-size: 16px!important;
}
.message {
  font-weight: bold;
  color: #FF5733; /* Color llamativo, puedes personalizarlo */
  text-align: center;
  margin-top: 20px; /* Espaciado superior para separarlo del texto anterior */
}


 /* Estilos para el borde del cinturón seleccionado */
.border-active {
  border-width: 10;
}
  
  /* Estilos de color del borde según el cinturón */
.border-white {
  border-color: white;
}
  
.border-yellow {
  border-color: rgb(255, 255, 31)!important;
}
  
.border-green {
  border-color: green!important;
}

.border-blue{
  border-color: blue!important;
}
.border-red{
  border-color: red!important;
}
  // applied when device is in light mode
.ns-light {
  .bg-primary {
    background-color: #fdfdfd;
  }
  .bg-secondary {
    background-color: #ffffff;
  }
  .text-primary {
    color: #444;
  }
  .text-secondary {
    color: #777;
  }
}

// applied when device is in dark mode
.ns-dark {
  .bg-primary {
    background-color: #212121;
  }
  .bg-secondary {
    background-color: #383838;
  }
  .text-primary {
    color: #eee;
  }
  .text-secondary {
    color: #ccc;
  }
}
  